html {
  height:100%;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #555555 50%, #333333 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
  
.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(45,45,45,8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  width: 55%
}

body{
  background-color: #303030;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

h1{
  font-size: 35px;
  font-weight: 700;

  font-family:monospace;
}

h2{
  font-size: 25px;
  font-weight: 700;
}

h3{
  font-size: 20px;
  font-weight: 700;
}

.index__box__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

h1:not(.margin-immunity),
h2:not(.margin-immunity),
h3:not(.margin-immunity){
  margin-bottom: 25px;
}
  
.index__box__form input{
  background-color: snow;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
}


.index__box__form input[type="text"] {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 430px;
}
  
.index__box__form input::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
  
.index__box__form input[type="submit"] {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
  
.index__box__form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

.index__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.export-item{
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
}



.report__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.center-element{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  margin-bottom: 20px;
}

section{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.section__head{
  border-bottom: 0.5px solid white;
  padding-bottom: 8px;
}

.section__items{
  padding-top: 8px;
  overflow: scroll;
  height: 63vh;
}

.last-column{
  margin: 0px 25px;
  padding-bottom: 6px;
  border-radius: 10px;
  transition: transform 250ms ease-in-out, background-color 350ms ease-in-out, color 350ms ease-in-out
}

.last-column:hover{
  background-color: rgba(255,255,255,8);
  color: rgba(45,45,45,8);
  transform: scale(1.3);
}

.btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:last-child{
  background-color: rgba(119, 119, 119, 1);
}

.btn:last-child:hover{
  background-color: rgba(69,68,67, 1);
}

.btn-not-last{
  margin-right: 8px;
}

.btn:hover {
  background-color: rgba(119, 119, 119, 1);
}

.btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

nav{
  width: 80%;
  padding: 5px 0px;
}

.subtitle{
  display: block;
  border-bottom: 1px solid white;
  padding-bottom: 25px;
  width: 90%
}

footer{
  display: flex;
  border-top: 1px solid white;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  width: 90%
}

.btn-icon{
  margin-right: 5px;
}

.btn-update{
  background-color: rgba(85, 153, 0, 1);
}

.btn-export {
  background-color: rgba(200, 200, 200, 1);
}

.btn-home {
  background-color: rgba(39, 147, 232, 1);
}

.btn-back{
  background-color: rgba(119, 119, 119, 1);
}