.bg {
  background-image: linear-gradient(-60deg, #999999 50%, #777777 50%);
}

.index__box__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}
  
.index__box__form input{
  background-color: snow;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
}


.index__box__form input[type="text"] {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 430px;
}
  
.index__box__form input::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
  
.index__box__form input[type="submit"] {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
  
.index__box__form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

.index__main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}