html {
  height:100%;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #999999 50%, #777777 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
  
.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(45,45,45,8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:4vmin 10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  width: 85%;
  height: 93%;
}

body{
  background-color: #303030;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1{
  font-size: 35px;
  font-weight: 700;

  font-family:monospace;
}

h2{
  font-size: 25px;
  font-weight: 700;
}

h3{
  font-size: 20px;
  font-weight: 700;
}

h1:not(.margin-immunity),
h2:not(.margin-immunity),
h3:not(.margin-immunity){
  margin-bottom: 25px;
}

.btn{
  font-size: 18px;
}

.btn-icon{
  margin-right: 5px;
}

.btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(119, 119, 119, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btn:hover {
  background-color: rgba(119, 119, 119, 1);
}

.btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.center-element{
  display: flex;
  justify-content: center;
  align-items: center;
}

.report__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  margin-bottom: 20px;
}

section{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

.section__head{
  border-bottom: 0.5px solid white;
  padding-bottom: 8px;
}

.section__items{
  overflow: scroll;
  height: 63vh;
}