<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job-Extractor-Pro</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/reset.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/s-report.css') }}">
</head>
<body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="content">
    <div class="index__main">
      <header class="report__header">
        <div class="center-element">
          <h2 class="margin-immunity">Extract Report [simple mode]</h2>
        </div>    
        <div class="header__cluster-btn">
          <button type="button" onclick="location.href='/'" class="btn btn-not-last btn-home">
            <i class="fas fa-home fa-lg btn-icon"></i>
          </button>
          <button type="button" onclick="location.href='/s-update?keyword={{searchBy}}'" class="btn btn-not-last btn-update">
            <i class="fas fa-sync-alt fa-lg btn-icon"></i>
          </button>
          {% if is_item == True %}
          <button type="button" onclick="location.href='/export-all?keyword={{searchBy}}'" class="btn btn-not-last btn-export">
            <i class="fas fa-file-csv fa-lg btn-icon"></i>
            <span>export to .csv</span>
          </button>
          <button type="button" onclick="location.href='/report?keyword={{searchBy}}'" class="btn btn-pro">
            <i class="fab fa-product-hunt fa-lg btn-icon"></i>
            <span>view with PRO mode</span>
          </button>
          {% endif %}
        </div>
      </header>
      <main class="report__main">
        <div class="center-element">
          <h3>{{length}} results were searched with a keyword "{{searchBy}}"</h3>
        </div>
        <div class="center-element">
          <span>Scraped at {{time_stamp}}</span>
        </div>
      </main>
      <section class="section__items scrollable-box">
        {% if is_item == True %}
        {% for job in jobs %}
        <div class="front-item">
          <div class="front-item__title">
            <h3 class="inline-element">{{job.title}}</h3>
          </div>
          <div class="front-item__meta">
            <span><strong>{{job.company}}</strong><i> located in </i><strong>{{job.location}}</strong></span>
            <span> | </span>
            <span>[salary: {{job.salary}}]</span>
            <div class="apply-link center-element">
              <a href="{{job.link}}" target="_blank" class="last-column"><span>Apply with <i>{{job.site}}</i><span></a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="center-element">
        <h2>
          No results corresponding to searched keyword
        </h2>
      </div>
      {% endif %}
    </section>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/6145b85787.js" crossorigin="anonymous"></script>
</body>
</html>